//------------------------------
// Default
//------------------------------
$default-white: #fff;
$default-black: #000;
$default-link: #4867ff;

//------------------------------
// Selection
//------------------------------
$selection-text: #fff;
$selection-bg: #000;

//------------------------------
// Theme Background
//------------------------------
$theme-bg: #fff;
