//------------------------------
// Colors
//------------------------------
$default-white: #fff;
$default-black: #000;
$default-link: #4867ff;

//------------------------------
// Selection
//------------------------------
$selection-white: #fff;
$selection-black: #000;
