//------------------------------
// Spacing
//------------------------------

$sp-2: 2px;
$sp-4: 4px;
$sp-8: 8px;
$sp-12: 12px;
$sp-16: 16px;
$sp-24: 24px;
$sp-32: 32px;
$sp-48: 48px;
$sp-56: 56px;
$sp-64: 64px;
$sp-72: 72px;
$sp-80: 80px;
$sp-88: 88px;
$sp-96: 96px;
$sp-144: 144px;
$sp-192: 192px;

//------------------------------
// Body Text
//------------------------------

$fs-2xsm: 10px;
$fs-xsm: 12px;
$fs-sm: 14px;
$fs-n: 16px;
$fs-m: 18px;

//------------------------------
// Heading
//------------------------------

$h-xsm: 16px;
$h-sm: 18px;
$h-n: 24px;
$h-m: 32px;
$h-l: 48px;
$h-xl: 64px;

//------------------------------
// Line Height
//------------------------------

$lh-2xsm: 18px;
$lh-xsm: 24px;
$lh-sm: 27px;
$lh-n: 32px;
$lh-m: 48px;
$lh-l: 56px;
$lh-xl: 72px;

//------------------------------
// Rounded
//------------------------------
$rnd-8: 8px;
$rnd-12: 12px;
$rnd-16: 16px;
$rnd-24: 24px;
$rnd-full: 100%;
