//------------------------------
// Spacing
//------------------------------
$spacing: (
    2: 2px,
    4: 4px,
    8: 8px,
    12: 12px,
    16: 16px,
    24: 24px,
    32: 32px,
    48: 48px,
    56: 56px,
    64: 64px,
    72: 72px,
    80: 80px,
    88: 88px,
    96: 96px,
    144: 144px,
    192: 192px,
);

//------------------------------
// Body Text
//------------------------------
$body-text: (
    2xsmall: 10px,
    xsmall: 12px,
    small: 14px,
    normal: 16px,
    medium: 18px,
);

//------------------------------
// Heading
//------------------------------
$heading: (
    xsmall: 16px,
    small: 18px,
    normal: 24px,
    medium: 32px,
    large: 48px,
    xlarge: 64px,
);

//------------------------------
// Line Height
//------------------------------
$line-height: (
    xsmall: 24px,
    small: 27px,
    normal: 32px,
    medium: 48px,
    large: 56px,
    xlarge: 72px,
);
