<!-- prettier-ignore -->
{% set ProjectName = 'Project Name' %}
{% set ProjectLang = 'tr' %}
{% set ProjectDir = 'ltr' %}

<!DOCTYPE html>
<html lang="{{ProjectLang}}" dir="{{ProjectDir}}" class="{{ProjectDir}}">
    <head>
        <title>Guidline - {{ProjectName}}</title>

        <meta charset="UTF-8" />
        <meta name="robots" content="nofollow" />
        <meta name="language" content="{{ProjectLang}}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1"
        />

        <link rel="stylesheet" href="src/css/style.min.css" type="text/css" />
    </head>
    <body class="guidline-body">
        <div id="guidline-wrapper">
            <!-- prettier-ignore -->
            {% block content %}{% endblock %}
            {% block scripts %}{% endblock %}
        </div>
        <script src="src/js/lib.min.js"></script>
        <script src="src/js/core.min.js"></script>
    </body>
</html>
