@use "font-face";
@use "../helpers";

html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    @include font-face.regular;

    background-color: helpers.$default-white;
    letter-spacing: -0.05rem;
}

::selection {
    background-color: helpers.$default-black;
    color: helpers.$default-white;
}

a {
    &[href] {
        // Use Attribute Selectors with Empty Links
        &:empty {
            &::before {
                content: attr(href);
            }
        }

        // Style "Default" Links
        &:not([class]) {
            color: helpers.$default-link;
            text-decoration: underline;
        }
    }
}

// Hide Autoplay Videos That Aren't Muted
video {
    &[autoplay] {
        &:not([muted]) {
            display: none;
        }
    }
}

main {
    overflow-x: hidden;
}
