@use "../helpers";

body {
    @include helpers.regular;

    background-color: helpers.$theme-bg;
    text-align: left;
}

::selection {
    background-color: helpers.$selection-bg;
    color: helpers.$selection-text;
}

a {
    &[href] {
        // Use Attribute Selectors with Empty Links
        &:empty {
            &::before {
                content: attr(href);
            }
        }

        // Style "Default" Links
        &:not([class]) {
            color: helpers.$default-link;
            text-decoration: none;
        }
    }
}

// Hide Autoplay Videos That Aren't Muted
video {
    &[autoplay] {
        &:not([muted]) {
            display: none;
        }
    }
}

#wrapper {
    overflow-x: hidden;
}

.autosize {
    overflow: hidden;
}
