* {
    &,
    &::before,
    &::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

input,
select,
textarea,
button {
    appearance: none;
    all: unset;

    &:disabled {
        pointer-events: none;
        user-select: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button,
    &::-webkit-search-cancel-button {
        display: none;
        margin: 0;
        appearance: none;
    }

    &:-webkit-autofill {
        &,
        &:focus {
            box-shadow: 0 0 0 30px transparent inset;
        }
    }

    /* Firefox */
    &[type="number"] {
        appearance: textfield;
    }
}

address {
    font-style: normal;
}

img {
    user-select: none;
}

// ios format detection
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}
