* {
    &,
    &::before,
    &::after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

html {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

body,
input,
textarea,
select,
button {
    /* stylelint-disable */
    -webkit-font-feature-settings: "liga", "kern";
    -moz-font-feature-settings: "liga", "kern";
    font-feature-settings: "liga", "kern";
    -webkit-font-kerning: normal;
    -moz-font-kerning: normal;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

input,
textarea,
select,
button {
    appearance: none;
    all: unset;

    &:disabled {
        pointer-events: none;
        user-select: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button,
    &::-webkit-search-cancel-button {
        display: none;
        margin: 0;
        appearance: none;
    }

    &:-webkit-autofill {
        &,
        &:focus {
            box-shadow: 0 0 0 30px transparent inset;
        }
    }

    /* Firefox */
    &[type="number"] {
        appearance: textfield;
    }
}

address {
    font-style: normal;
}

img {
    user-select: none;
    line-height: 0;
}

figure {
    margin: 0;
    line-height: 0;
}

[role="button"] {
    cursor: pointer;
}

// ios format detection
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}
