* {
    &,
    &::before,
    &::after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

html {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

body,
input,
textarea,
select,
button {
    /* stylelint-disable */
    -webkit-font-feature-settings: "liga", "kern";
    -moz-font-feature-settings: "liga", "kern";
    font-feature-settings: "liga", "kern";
    -webkit-font-kerning: normal;
    -moz-font-kerning: normal;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

input,
textarea,
select,
button {
    width: auto;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    color: inherit;
    overflow: visible;
    font-style: normal;
    line-height: normal;

    /* Firefox */
    &[type="number"] {
        appearance: textfield;
    }

    &.disabled,
    &:disabled,
    &[disabled] {
        pointer-events: none;
        user-select: none;
    }

    /* stylelint-enabled */
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button,
    &::-webkit-search-cancel-button {
        display: none;
        margin: 0;
        appearance: none;
    }

    &:-webkit-autofill {
        &,
        &:focus {
            box-shadow: 0 0 0 30px transparent inset;
        }
    }

    &,
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    &,
    &:focus,
    &:focus:not(:focus-visible),
    &:focus:not(:-moz-focusring) {
        outline: none;
    }
}

address {
    font-style: normal;
}

img,
svg {
    line-height: 0;
}

img,
svg,
.swiper {
    user-select: none;
}

figure {
    margin: 0;
    line-height: 0;
}

[role="button"] {
    cursor: pointer;
}

// ios format detection
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

.btn,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    display: inline-flex;
    width: auto;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    user-select: none;
    text-decoration: none;
    background: transparent;
    color: inherit;
    overflow: visible;
    font-style: normal;
    line-height: normal;
    font: inherit;
    cursor: pointer;

    /* stylelint-enabled */
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    &,
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    &,
    &:focus,
    &:focus:not(:focus-visible),
    &:focus:not(:-moz-focusring) {
        outline: none;
    }

    &.disabled,
    &:disabled,
    &[disabled] {
        pointer-events: none;
        user-select: none;
    }
}
